# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
crash.log
override.tf
override.tf.json

# Ansible
*.retry
vault_password_file
*.vault

# Helm
*.tgz

# General
*.log
*.tmp
.DS_Store
.env
